$cellSize: 50px;

.field {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(11, 25px);
  grid-template-rows: repeat(11, 25px);

  @media (min-width: 768px) {
    gap: 5px;
    grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(11, 50px);
  }

  @media (min-width: 1024px) {
    gap: 8px;
    grid-template-columns: repeat(11, 80px);
    grid-template-rows: repeat(11, 80px);
  }

  @media (min-width: 1981px) {
    gap: 10px;
    grid-template-columns: repeat(11, 90px);
    grid-template-rows: repeat(11, 90px);
  }
}

.cell {
  background-color: rgba(163, 163, 163);
  border-radius: 3px;
  cursor: pointer;

  @media (min-width: 768px) {
    border-radius: 4px;
  }

  @media (min-width: 1024px) {
    border-radius: 5px;
  }

  @media (min-width: 1981px) {
    border-radius: 6px;
  }
}
