.header {
  position: fixed;
  right: 0;
  width: 100%;
  height: 50px;

  @media (min-width: 768px) {
    gap: 5px;
    grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(11, 50px);
  }

  @media (min-width: 1024px) {

  }

  @media (min-width: 1981px) {
    width: 500px;
  }
}